<div class="input-append">
	<input id="ProbeCount" type="number"/>
	<button class="btn btn-primary" onclick="process(document.getElementById("ProbeCount").value)"></button>
	<h3 id="Proberesult"></h3>
</div>